body{
  margin: 0;
  padding: 0;
  background-color: #e4d6c7;
  font-size: 1.2em;
  font-family: 'Pangolin', cursive;
}
.conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
.slider-conteiner {
  max-width: 40rem;
  overflow: hidden;
  margin: 0 auto 1rem;
  order:1;
  border-radius: 1rem;
  box-shadow: 0.2em 0.2em 0.2em grey;
}
.slider-items {
  width: 400%;
  display: flex;
  transition: transform 0.5s linear;
}
.slider-item {
  width: 25%;
}
.slider-item-image {
  max-width: 40rem;
  max-height: 40rem;
  width: 100%;
  height: 100%;
  display: block;
}
.conteiner > input{
  width: 0;
  height: 0;
}
.slider-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-controls label{
  display: inline-block;
  padding: 0.4em;
  cursor: pointer;
  transition: 0.2s;
}
.slider-controls label span{
  display: block;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border: 0.1em #db6b09 solid;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.1em grey;
  transition: 0.2s;
}
.slider-controls label:hover span{
  background-color: #f2ab6b;
}
#r1:checked .slider-conteiner .slider-items{
  transform: translateX(0);
}
#r2:checked ~ .slider-conteiner .slider-items{
  transform: translateX(-25%);
}
#r3:checked ~ .slider-conteiner .slider-items{
  transform: translateX(-50%);
}
#r4:checked ~ .slider-conteiner .slider-items{
  transform: translateX(-75%);
}
.slider-nav{
  width: 100%;
  max-width: 40rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order:2;
}
.slider-text-conteiner{
  width: 60%;
  overflow: hidden;
}
.slider-text{
  display: flex;
  width: 400%;
  color:#6c3809;
  transition: transform 0.5s linear;
}
.text1,.text2,.text3,.text4{
  width: 25%;
}
#r1:checked ~ .slider-nav .slider-text{
  transform: translateX(0);
}
#r2:checked ~ .slider-nav .slider-text{
  transform: translateX(-25%);
}
#r3:checked ~ .slider-nav .slider-text{
  transform: translateX(-50%);
}
#r4:checked ~ .slider-nav .slider-text{
  transform: translateX(-75%);
}
#r1:checked ~ .slider-nav .control-1 span, #r2:checked ~ .slider-nav .control-2 span,
#r3:checked ~ .slider-nav .control-3 span, #r4:checked ~ .slider-nav .control-4 span{
  background-color: #db6b09;
}

#r1:checked ~ .slider-nav label:hover span, #r2:checked ~ .slider-nav label:hover span,
#r3:checked ~ .slider-nav label:hover span, #r4:checked ~ .slider-nav label:hover span{
  border-color: #f2ab6b;
}


@media (max-width:767px) {
  .slider-conteiner{
    margin-bottom: 0;
  }
  .slider-conteiner {
    max-width: 40rem;
  }
  .slider-item-image {
    max-width: 40rem;
  }
  .slider-nav{
    flex-direction: column;
  }
  .slider-controls{
    margin: 0.5rem auto;
    order:1;
  }
  .slider-text-conteiner{
    width: 100%;
    order:2;
    align-self: flex-start;
  }

}
